<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
  <div class="row">
    <h3 class="col-xs-10">{{ post.title }}</h3>
    <div class="col-xs-2">{{ post.created_at | date: "MM/dd/yyyy, HH:mm" }}</div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12">{{ post.content }}</div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12">
      <button type="button" (click)="increaseLoveIts()" class="btn btn-success btn-sm" style="margin: 0 5px 0 0;">Love It!</button>
      <button type="button" (click)="decreaseLoveIts()" class="btn btn-danger btn-sm" style="margin: 0 5px 0 0;">Don't Love It!</button>
      <span>(Love its :  {{ post.loveIts }})</span>
    </div>
  </div>

</li>
